<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CMS-Style Tech Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <h1><a href='/'>CMS-Style Tech Blog</a></h1>
        {{#if loggedIn}}
          <h2><a href='/dashboard'>Dashboard</a></h2>
        {{/if}}
        <nav>
          {{#if loggedIn}}
            <h2><button id='logout' class='btn-no-style'>Logout</button></h2>
          {{else}}
            <h2><a href='/login'>Login/Sign Up</a></h2>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Volte sempre!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>

</html>