<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CMS-Style Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{! <!-- Compiled and minified CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />

    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script> }}

  </head>

  <body>
    <div class='wrapper'>

      <header>

        <h1><a href='/'>Home</a></h1>

        <nav>
          {{#if loggedIn}}
            <h2><a href='/dashboard'>Dashboard</a></h2>
            <h2><button id='logout' class='btn-no-style'>Logout</button></h2>
          {{else}}
            <h2><a href='/login'>Login/Sign Up</a></h2>
          {{/if}}
        </nav>

      </header>

      {{!-- {{#if loggedIn}}
        <div class='blogName'>
          <h1><a href='/'>CMS-Style Blog</a></h1>
        </div>
      {{/if}} --}}

      <main>

        {{{body}}}

      </main>

      <footer>
        Volte sempre!
      </footer>

    </div>

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>

</html>