<ol class="post-list">
  <h2 class="welcome">Welcome to my Tech Blog</h2>
  <p>
    This is a simple blog that I built to learn how to build a blog.
  </p>
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>