<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    <a>
      <h2>
        {{> post-info post}}
      </h2>
    </a>
    {{!-- {{> post-info post }} --}}
  </li>
  {{/each}}
</ul>